jobs:

  - name: profitable actor list
    schedule:
      # - 1 * * * * 
      - 0 12 31 * *
      - 0 12 30 * *
      - 0 12 28 2 *
    steps: 
      - name: run model
        command: dbt run --select highest_profit_actors